

* {
    box-sizing:border-box;
}
:root{
    --title-font-color:#282a33;
}

.title-container{
    display:flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #282a33;
}

.title {
    display: flex;
    color: var(--title-font);
    font-family: 'Bebas Neue', cursive;
    font-size: 100px;
    line-height: 1;
    letter-spacing: 10px;
    text-align: center;
  }

.library-container{
    display:flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    flex-direction: column;
}

#book-btn{
    background-color: #a0051f; /* Green */
    border: none;
    color: white;
    padding: 30px 64px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    box-sizing: border-box;
    border-radius: 4px;
}

/*
Want container to cover entire screen when popup triggers (background goes darker for example)
*/
.bg-modal{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    background-color:rgba(0,0,0,0.7);
    display:flex;
    justify-content: center;
    align-items: center;
    display:none;
}
.modal-content{
    width:500px;
    height:300px;
    background-color:white;
    border-radius: 4px;
    text-align: center;
    padding:20px;
    position:relative;

}

input{
    width:50%;
    display:block;
    margin: 15px auto;
}
.close{
    position:absolute;
    top:0;
    right:3%;
    font-size:42px;
    cursor:pointer;
}

.books-container{
    padding: 20px;
    display:flex;
    max-width:1200px;
    flex-wrap:wrap;
}

.book {
    width: 250px;
    height: 300px;
    border-radius: 5px;
    margin: 2rem 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease;
    background: white;
    border: 2px solid blue;
  }